/* Body */
body {
    margin: 0;
    line-height: 1.5em;
    color: #333333;
    font-family: helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    line-height: 1.2em;
}

a:link, a:visited {
    color: #0000e0;
    text-decoration: none
}

a:hover, a:active {
    color: #0000ff;
    text-decoration: underline
}

nav div, header, main, footer section {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5em;
}

hr {
    border: none;
    border-bottom: thin solid #cccccc;
}

pre {
    background: #f0f1f2;
    padding: 0.5em;
}

/* Navigation */
nav {
    background: #333333;
    border-bottom: thin solid #111111;
    text-transform: uppercase;
    line-height: 4em;
    margin-bottom: 2em;
}

nav img {
    height: 3em;
    vertical-align: middle;
}

nav img:hover {
    opacity: 1;
    filter: brightness(120%);
}


nav a {
    margin-right: 1em;
}

nav a:link, nav a:visited {
    color: #cccccc;
}

nav a:hover, nav a:active {
    color: #ffffff;
}


/* Footer */
footer {
    background: #f0f0f0;
    border-top: thin solid #e0e0e0;
    margin-top: 2em;
    padding-top: 2.25em;
    padding-bottom: 2em;
    box-shadow: 0 100vh 0 100vh #f0f0f0;
}

footer .links a {
    margin-right: 1em;
}

footer div {
    font-size: 0.8em;
}


/* Add some vertical space between Facebook and Twitter plugins,
 * otherwise they stick next to each other. */
.fb-page {
    margin-bottom: 0.5em;
}


/* Posts */
.post {
    margin-top: 1em;
    margin-bottom: 1em;
}

.posts h2 a:link, .posts h2 a:visited,
.post h1 a:link, .post h1 a:visited,
.more a:link, .more a:visited {
    color: #333333;
}

.posts h2 a:hover, .posts h2 a:active,
.post h1 a:hover, .post h1 a:active,
.more a:hover, .more a:visited {
    color: #555555; 
}

.meta {
    font-size: 0.8em;
    color: #777777;
    font-style: italic;
}

.summary {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.more {
    margin-top: 0;
    font-weight: bold;
}
